.weather-widget {
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  background: #a8cff6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;

  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Ввід міста */
.city-input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 35px;
}

.city-input-group input {
  width: 160px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.city-input-group input:focus {
  border-color: #0078d7;
}

.city-input-group button {
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  background: #0078d7;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.city-input-group button:hover {
  background: #005fa3;
}

/* Блок з погодою */
.weather-display-area {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Заповнення коли даних нема */
.weather-info-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.loading-text {
  color: #666;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.weather-info {
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  height: 100%;
  width: 100%;
  justify-content: flex-start;
}

.weather-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.weather-info img {
  width: 60px;
  height: 60px;
  margin: 5px 0;
}

.weather-info p {
  margin: 3px 0;
  font-size: 0.95rem;
  color: #444;
}

.status-message {
  color: rgb(27, 135, 130);
  font-weight: bold;
  min-height: 20px;
  margin: 5px 0 0 0;
}
